docs/eudr_docs 1.4/EUDR - API EO CF3 v1.4/EUDRModelSchema.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2-wls141100-b230825.0707 git-revision#5f81cab. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://ec.europa.eu/sanco/tracesnt/base/v4" xmlns:model="http://ec.europa.eu/tracesnt/certificate/eudr/model/v2" targetNamespace="http://ec.europa.eu/tracesnt/certificate/eudr/model/v2" elementFormDefault="qualified">

	<xs:import schemaLocation="https://acceptance.eudr.webcloud.ec.europa.eu:443/tracesnt/ws/EUDRRetrievalServiceV2?xsd=1" namespace="http://ec.europa.eu/sanco/tracesnt/base/v4"/>

	<xs:complexType name="EventInfo">
		<xs:sequence>
			<xs:element name="status" type="model:DdsStatusType" minOccurs="0"/>
			<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="updatedBy" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="operatorInfo">
		<xs:sequence>
			<xs:element name="name" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="country" type="base:CountryType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DueDiligenceStatementBaseType">
		<xs:sequence>
			<xs:element name="internalReferenceNumber" type="model:DocumentReferenceNumberType">
				<xs:annotation>
					<xs:documentation>
						Internal reference (as in the system of the actor). If not provided, generated by the system.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="activityType" type="model:ActivityType">
				<xs:annotation>
					<xs:documentation>
						The type of activity of the DDS (Box 2)
					</xs:documentation>
				</xs:annotation>
			</xs:element>


			<xs:element name="operator" type="model:EconomicOperatorIdentificationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The Operator associated to the DDS (Box 3)
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="countryOfActivity" type="model:CountryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Country where the economic activity takes place (Box 4)</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="borderCrossCountry" type="model:CountryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>1) This field corresponds to country of entry (BOX4) in case of the activity type is import.
						2) It is corresponding to the country of exit , in case the activity type is export.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="comment" type="model:EditorialCommentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Comment for the competent authority.(Box 5)
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="commodities" type="model:CommodityType" minOccurs="1" maxOccurs="200">
				<xs:annotation>
					<xs:documentation>
						Corresponds to Boxes  6, 9 to 16.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="geoLocationConfidential" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>
						If the value is TRUE, it indicates that the geolocation data is confidential (not to be disclosed down the supply chain)
						If the value is FALSE, it indicates the geolocation data can be disclosed to anyone down the supply chain.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="associatedStatements" type="model:AssociatedStatementsType" minOccurs="0" maxOccurs="2000">
				<xs:annotation>
					<xs:documentation>List of reference statements associated to the current one (Tab Referenced Statements in the UI)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CommodityType">
		<xs:sequence>
			<xs:element name="position" type="xs:long" minOccurs="0">
			</xs:element>
			<xs:element name="descriptors" type="model:CommercialDescriptionType" minOccurs="1">
			</xs:element>
			<xs:element name="hsHeading" type="model:HSHeadingType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Box 10 : 
						commodity code from the Harmonized Commodity Description and Coding System,
						plus the (optional) corresponding quantity information.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="speciesInfo" type="model:SpeciesInformationType" minOccurs="0" maxOccurs="500">
			</xs:element>
			<xs:element name="producers" type="model:ProducerType" minOccurs="0" maxOccurs="1000">
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProducerType">
		<xs:sequence>
			<xs:element name="position" type="xs:long" minOccurs="0">
			</xs:element>
			<xs:element name="country" type="base:CountryType" minOccurs="1">
			</xs:element>
			<xs:element name="name" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Producer's name
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="geometryGeojson" type="xs:base64Binary" minOccurs="1">
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EconomicOperatorIdentificationType">
		<xs:annotation>
			<xs:documentation>
				An economic operator in EUDR SHOULD be identified
				by a standard ID (EORI or VAT number).
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="referenceNumber" type="model:EconomicOperatorReferenceNumberType" minOccurs="0" maxOccurs="12"/>
			<xs:element name="operatorAddress" type="model:AddressType" minOccurs="0"/>
			<xs:element name="email" type="model:emailType" minOccurs="0"/>
			<xs:element name="phone" type="model:phoneType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EconomicOperatorReferenceNumberType">
		<xs:sequence>
			<xs:element name="identifierType" type="model:IdentifierTypeType" minOccurs="1"/>
			<xs:element name="identifierValue" type="model:IdentifierValueType" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CommercialDescriptionType">
		<xs:annotation>
			<xs:documentation>
				This type allows you to express one single
				commercial description and associate it
				with individual quantitative
				metrics.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="descriptionOfGoods">
				<xs:annotation>
					<xs:documentation>
						Single commercial description.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="150"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="goodsMeasure" type="model:GoodsMeasureType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Measures per commercial description are not part
						of the formal licence yet. However, the legislation
						indicates the
						need to create statistics per HS classification, so this field, if
						filled,
						will support that reporting procedure when the licence
						carries more
						than just one
						HS commodity classification. Users are
						advised to use
						this field for quantities, instead of
						the global
						values. Atleast one of the fields netWeight or numberOfUnits should be provided.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="HSHeadingType">
		<xs:annotation>
			<xs:documentation>
				Commodity code from the Harmonized Commodity Description and Coding System
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2,8}"/>
			<xs:minLength value="2"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="SpeciesInformationType">
		<xs:sequence>
			<xs:element name="scientificName" type="model:ScientificNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The scientific name is string not case sensitive.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="commonName" type="model:ScientificNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The common name is string not case sensitive.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AssociatedStatementsType">
		<xs:sequence>
			<xs:element name="referenceNumber" type="model:DocumentReferenceNumberType" minOccurs="1"/>
			<xs:element name="verificationNumber" type="model:VerificationNumberType" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="country" type="base:CountryType"/>
			<xs:element name="street" type="base:StreetAndNumberType" minOccurs="1"/>
			<xs:element name="postalCode" type="base:PostalCodeType" minOccurs="1"/>
			<xs:element name="city" type="base:CityType" minOccurs="1"/>
			<xs:element name="fullAddress" type="base:NonStructuredAddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GoodsMeasureType">
		<xs:sequence>
			<xs:element name="percentageEstimationOrDeviation" type="model:DecimalThreePrecType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Percentage estimate or deviation
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="netWeight" type="model:DecimalSixteenTotalSixPrecType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						This is mandatory if activity type is IMPORT/EXPORT.
						The weight must be provided in Kg. This is defined as the net mass
						of the product
						without immediate containers or any
						packaging, other than bearers, spacers,
						stickers, etc.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="supplementaryUnit" type="model:DecimalSixteenTotalSixPrecType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The number of units, when a manufactured product is best quantified in this way.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="supplementaryUnitQualifier" type="model:SupplementaryUnitQualifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						This field must be provided if the value is provided in supplementaryUnit field.
						It represents the type of the numberofUnits field.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="DocumentReferenceNumberType">
		<xs:annotation>
			<xs:documentation>Reference Number of the DDS (Box 1)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="VerificationNumberType">
		<xs:annotation>
			<xs:documentation>Verification number {token} of the DDS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="RejectionReasonType">
		<xs:annotation>
			<xs:documentation>Rejection reason of the DDS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="CommunicationToOperatorType">
		<xs:annotation>
			<xs:documentation>Communication sent by CA to Operator</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="date" type="xs:dateTime" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Creation or amend date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="content" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Message content.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ReferenceDdsVerificationNumberType">
		<xs:annotation>
			<xs:documentation>Verification number {token} of the DDS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="eoriNumberType">
		<xs:annotation>
			<xs:documentation>
				The economic operator's EORI number (Economic Operator Registration and Identification).
				<br/>
				See http://ec.europa.eu/taxation_customs/dds2/eos/eori_home.jsp?Lang=en
				<br/>
				Also see http://ec.europa.eu/taxation_customs/dds2/eos/news/newstar.jsp?Lang=en
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z]{2}[0-9A-Za-z]{1,15}"/>
		</xs:restriction>

	</xs:simpleType>

	<xs:simpleType name="EditorialCommentType">
		<xs:annotation>
			<xs:documentation>
				A version of a DDS may have an editorial comment associated to it,
				with an explanation for the CA  (Box 5)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DdsStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AVAILABLE"/>
			<xs:enumeration value="SUBMITTED"/>
			<xs:enumeration value="REJECTED"/>
			<xs:enumeration value="CANCELLED"/>
			<xs:enumeration value="WITHDRAWN"/>
			<xs:enumeration value="ARCHIVED"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ActivityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOMESTIC"/>
			<xs:enumeration value="TRADE"/>
			<xs:enumeration value="IMPORT"/>
			<xs:enumeration value="EXPORT"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ScientificNameType">
		<xs:annotation>
			<xs:documentation>This fields are used to specify the scientific (or common) name of a tree species : (Box 6) commodity#scientificName / commodity#commonName </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DecimalThreePrecType">
		<xs:annotation>
			<xs:documentation>
				Decimal type with precision three
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DecimalSixteenTotalSixPrecType">
		<xs:annotation>
			<xs:documentation>Decimal number with a total of 16 and 6 fraction digits</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="6"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999999999.999999"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="CountryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AT">
				<xs:annotation>
					<xs:documentation>
						Austria
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BE">
				<xs:annotation>
					<xs:documentation>
						Belgium
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BG">
				<xs:annotation>
					<xs:documentation>
						Bulgaria
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CY">
				<xs:annotation>
					<xs:documentation>
						Cyprus
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CZ">
				<xs:annotation>
					<xs:documentation>
						Czech Republic
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DE">
				<xs:annotation>
					<xs:documentation>
						Germany
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DK">
				<xs:annotation>
					<xs:documentation>
						Denmark
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EE">
				<xs:annotation>
					<xs:documentation>
						Estonia
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ES">
				<xs:annotation>
					<xs:documentation>
						Spain
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FI">
				<xs:annotation>
					<xs:documentation>
						Finland
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FR">
				<xs:annotation>
					<xs:documentation>
						France
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GR">
				<xs:annotation>
					<xs:documentation>
						Greece
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HR">
				<xs:annotation>
					<xs:documentation>
						Croatia
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HU">
				<xs:annotation>
					<xs:documentation>
						Hungary
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IE">
				<xs:annotation>
					<xs:documentation>
						Ireland
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IT">
				<xs:annotation>
					<xs:documentation>
						Italy
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LT">
				<xs:annotation>
					<xs:documentation>
						Lithuania
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LU">
				<xs:annotation>
					<xs:documentation>
						Luxembourg
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LV">
				<xs:annotation>
					<xs:documentation>
						Latvia
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MT">
				<xs:annotation>
					<xs:documentation>
						Malta
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NL">
				<xs:annotation>
					<xs:documentation>
						Netherlands
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PL">
				<xs:annotation>
					<xs:documentation>
						Poland
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PT">
				<xs:annotation>
					<xs:documentation>
						Portugal
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RO">
				<xs:annotation>
					<xs:documentation>
						Romania
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SE">
				<xs:annotation>
					<xs:documentation>
						Sweden
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SI">
				<xs:annotation>
					<xs:documentation>
						Slovenia
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SK">
				<xs:annotation>
					<xs:documentation>
						Slovakia (Slovak Republic)
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="XI">
				<xs:annotation>
					<xs:documentation>
						United Kingdom (Northern Ireland)
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="OperatorActivityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OPERATOR"/>
			<xs:enumeration value="TRADER"/>
			<xs:enumeration value="REPRESENTATIVE_OPERATOR"/>
			<xs:enumeration value="REPRESENTATIVE_TRADER"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="uuidType">
		<xs:annotation>
			<xs:documentation>
				The
				<b>uuidType</b>
				is used to specify a universally unique identifier (UUID).
				(Note that
				the
				<b>base</b>
				type below is probably wrong and needs to be fixed
				to match a correct
				definition for a UUID.)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]|[a-f]|[A-F]){8}-([0-9]|[a-f]|[A-F]){4}-([0-9]|[a-f]|[A-F]){4}-([0-9]|[a-f]|[A-F]){4}-([0-9]|[a-f]|[A-F]){12}"/>
		</xs:restriction>
		<!-- AZFIX: restriction base="xsd:anyURI" -->
	</xs:simpleType>

	<xs:simpleType name="SupplementaryUnitQualifierType">
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IdentifierTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="eori">
				<xs:annotation>
					<xs:documentation>
						Economic Operators Registration and
						Identification number (EORI), see
						http://ec.europa.eu/taxation_customs/dds2/eos/eori_home.jsp
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="vat">
				<xs:annotation>
					<xs:documentation>
						VAT identification number (VATIN), see
						http://en.wikipedia.org/wiki/VAT_identification_number,
						http://en.wikipedia.org/wiki/VAT_identification_number
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cin">
				<xs:annotation>
					<xs:documentation>
						Indian Corporate Identity Number, see
						http://taxguru.in/company-law/cin-corporate-identification-number-for-companies-how-it-is-structured.html
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="duns">
				<xs:annotation>
					<xs:documentation>
						The nine-digit D-U-N-S Number, see
						http://en.wikipedia.org/wiki/Data_Universal_Numbering_System
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="comp_reg">
				<xs:annotation>
					<xs:documentation>
						Registration number in official national company
						register
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="comp_num">
				<xs:annotation>
					<xs:documentation>
						National company number,
						http://business.belgium.be/en/managing_your_business/setting_up_your_business/main_steps/company_number/
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cbr">
				<xs:annotation>
					<xs:documentation>
						Central Business Register, see
						https://cvr.dk/Site/Forms/CMS/DisplayPage.aspx?pageid=21
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ship_man_comp_imo">
				<xs:annotation>
					<xs:documentation>
						Ship's managing company IMO number, see
						http://en.wikipedia.org/wiki/IMO_numbers
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ship_reg_owner_imo">
				<xs:annotation>
					<xs:documentation>
						Ship's registered owner IMO number, see
						http://en.wikipedia.org/wiki/IMO_numbers
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="remos">
				<xs:annotation>
					<xs:documentation>
						Northern Ireland Retail Movement Scheme
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="gln">
				<xs:annotation>
					<xs:documentation>
						Global location number
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="tin">
				<xs:annotation>
					<xs:documentation>
						Tax Identification Number (TIN), see
						http://ec.europa.eu/taxation_customs/taxation/tax_cooperation/mutual_assistance/tin/index_en.htm
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="emailType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="phoneType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IdentifierValueType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>